---
import type { TeamMember } from '../../data/team';

interface Props {
  member: TeamMember;
}
const { member } = Astro.props;
---
<article class="member">
  <div class="member__portrait" data-init={member.initials} aria-hidden="true"></div>
  <div class="member__body">
    <h3 class="member__name">{member.name}</h3>
    <p class="member__role">{member.role}</p>
    <p class="member__quote">{member.quote}</p>
  </div>
</article>
